In [106]:
__version__ = '0.3'
__author__  = "Robert Matern (r.matern@stud.uni-hannover.de)"
__date__    = ''
__url__     = ''
__copyright__ = "(C) 2015 Robert Matern"

#Beispieldaten Nr. 1

In [107]:
# Funktionen werden hinzugeladen.
%run Parameter.ipynb

In [108]:
# Produkte
products = Product(2)

# Ressourcen
resources = Resource(2)

#Kapazität
capacities = Capacity(resources)
capacities[1] = 2
capacities[2] = 1

# Ressourcenverbrauch
consumtions = Consumption(products, resources)
consumtions[1] = [0,1,0]
consumtions[2] = [0,0,1]

# Erträge
revenues = Revenue(products)
revenues[1] = 100
revenues[2] = 200

# Buchungshorizont
times = Time(4)

# Wahrscheinlichkeiten
probs = Prob(products, times)
probs[1] = [0, 0.5, 0.5, 0.5, 0.5]
probs[2] = [0, 0.1, 0.1, 0.1, 0.1]

# Gegenwahrscheinlichkeiten
against_probs = Against_Prob(probs)
probs[0] = against_probs

# Systemzustände
conditions = Condition(capacities, resources, times)

# Endzeitpunkte
#end_times = End_Time(conditions)

0:00:00.000322

In [109]:
%run DynamicProgramm.ipynb

Python Version 2.7.10 |Anaconda 2.2.0 (x86_64)| (default, May 28 2015, 17:04:42)
[GCC 4.2.1 (Apple Inc. build 5577)]
Numpy Version 1.9.2
Matplotlib Version 1.4.3
Pandas Version 0.16.2

In [110]:
solutions={}

DP(solutions, conditions, products, resources, capacities, consumtions, times, revenues, probs)

c[h]: [2 1] - t: 0 - d(c,t): [0 0] - V(c,t): 0.0 - j*: 0 - OC[j*]: 0
c[h]: [1 1] - t: 0 - d(c,t): [0 0] - V(c,t): 0.0 - j*: 0 - OC[j*]: 0
c[h]: [2 0] - t: 0 - d(c,t): [0 0] - V(c,t): 0.0 - j*: 0 - OC[j*]: 0
c[h]: [2 1] - t: 1 - d(c,t): [1 1] - V(c,t): 70.0 - j*: 2 - OC[j*]: 200.0
c[h]: [0 1] - t: 0 - d(c,t): [0 0] - V(c,t): 0.0 - j*: 0 - OC[j*]: 0
c[h]: [1 0] - t: 0 - d(c,t): [0 0] - V(c,t): 0.0 - j*: 0 - OC[j*]: 0
c[h]: [1 1] - t: 1 - d(c,t): [1 1] - V(c,t): 70.0 - j*: 2 - OC[j*]: 200.0
c[h]: [2 0] - t: 1 - d(c,t): [1 0] - V(c,t): 50.0 - j*: 1 - OC[j*]: 100.0
c[h]: [2 1] - t: 2 - d(c,t): [1 1] - V(c,t): 138.0 - j*: 2 - OC[j*]: 180.0
c[h]: [0 0] - t: 0 - d(c,t): [0 0] - V(c,t): 0.0 - j*: 0 - OC[j*]: 0
c[h]: [0 1] - t: 1 - d(c,t): [0 1] - V(c,t): 20.0 - j*: 2 - OC[j*]: 200.0
c[h]: [1 0] - t: 1 - d(c,t): [1 0] - V(c,t): 50.0 - j*: 1 - OC[j*]: 100.0
c[h]: [1 1] - t: 2 - d(c,t): [1 1] - V(c,t): 113.0 - j*: 2 - OC[j*]: 180.0
c[h]: [2 0] - t: 2 - d(c,t): [1 0] - V(c,t): 100.0 - j*: 1 - OC[j*]: 100.0
c[h]: [2 1] - t: 3 - d(c,t): [1 1] - V(c,t): 191.688 - j*: 2 - OC[j*]: 162.0
c[h]: [0 0] - t: 1 - d(c,t): [0 0] - V(c,t): 0.0 - j*: 0 - OC[j*]: 0
c[h]: [0 1] - t: 2 - d(c,t): [0 1] - V(c,t): 38.0 - j*: 2 - OC[j*]: 180.0
c[h]: [1 0] - t: 2 - d(c,t): [1 0] - V(c,t): 75.0 - j*: 1 - OC[j*]: 50.0
c[h]: [1 1] - t: 3 - d(c,t): [1 1] - V(c,t): 141.703 - j*: 2 - OC[j*]: 162.0
c[h]: [2 0] - t: 3 - d(c,t): [1 0] - V(c,t): 137.5 - j*: 1 - OC[j*]: 75.0
c[h]: [2 1] - t: 4 - d(c,t): [1 1] - V(c,t): 231.25 - j*: 2 - OC[j*]: 145.812

231.25

In [111]:
graph = Structure(solutions, conditions, products, consumtions, revenues, probs)

In [112]:
Opt_Politic(solutions, resources, products)

    $c_{1}$  $c_{2}$  $t$    ExpValue  $j={1}$  $j={2}$
4         2        1    4  231.250000        1        1
3         2        1    3  191.687500        1        1
8         2        0    3  137.500000        1        0
13        1        1    3  141.703125        1        1
17        1        0    2   75.000000        1        0
2         2        1    2  138.000000        1        1
22        0        1    2   38.000000        0        1
7         2        0    2  100.000000        1        0
12        1        1    2  113.000000        1        1
11        1        1    1   70.000000        1        1
6         2        0    1   50.000000        1        0
21        0        1    1   20.000000        0        1
1         2        1    1   70.000000        1        1
16        1        0    1   50.000000        1        0
20        0        1    0    0.000000        0        0
0         2        1    0    0.000000        0        0
15        1        0    0    0.000000        0        0
10        1        1    0    0.000000        0        0
5         2        0    0    0.000000        0        0
25        0        0    0    0.000000        0        0