In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Table_Optimal2015-08-16.csv')

In [3]:
print df.dtypes

$c^{1}$       int64
$c^{2}$       int64
$c^{3}$       int64
$c^{4}$       int64
$c^{5}$       int64
$y^{1}$       int64
$y^{2}$       int64
$y^{3}$       int64
$y^{4}$       int64
$y^{5}$       int64
$t$           int64
ExpValue    float64
$d_{0}$       int64
$d_{1}$       int64
$d_{2}$       int64
$d_{3}$       int64
$d_{4}$       int64
$d_{5}$       int64
$d_{6}$       int64
$d_{7}$       int64
$d_{8}$       int64
$d_{9}$       int64
$d_{10}$      int64
dtype: object

In [4]:
df_Series2 = pd.DataFrame(index=['$d_{0}$'], columns=range(11))

for j in df.groupby('$d_{0}$').size().index:
    df_Series2[j] = df.groupby('$d_{0}$').size()[j]

print df_Series2.to_latex()

\begin{tabular}{lrrlrlrlrlll}
\toprule
{} &     0  &    1  &   2  &    3  &   4  &    5  &   6  &    7  &   8  &   9  &   10 \\
\midrule
\$d\_\{0\}\$ &  59953 &  1461 &  NaN &  4093 &  NaN &  5938 &  NaN &  4158 &  NaN &  NaN &  NaN \\
\bottomrule
\end{tabular}

In [6]:
df_Series = pd.DataFrame(index=df.dtypes[13:].index, columns=[0, 1,  2, 3])

for i in df.dtypes[13:].index:
    for j in df.groupby(i).size().index:
        df_Series[j][i] = df.groupby(i).size()[j]

print df_Series.to_latex()

\begin{tabular}{lllll}
\toprule
{} &      0 &      1 &      2 &     3 \\
\midrule
\$d\_\{1\}\$  &  73882 &    260 &    NaN &  1461 \\
\$d\_\{2\}\$  &  73318 &    824 &    NaN &  1461 \\
\$d\_\{3\}\$  &  70901 &    156 &    280 &  4266 \\
\$d\_\{4\}\$  &  60509 &   1222 &  11300 &  2572 \\
\$d\_\{5\}\$  &  68039 &    252 &    672 &  6640 \\
\$d\_\{6\}\$  &  47217 &    554 &  24722 &  3110 \\
\$d\_\{7\}\$  &  68464 &    180 &   2854 &  4105 \\
\$d\_\{8\}\$  &  27421 &  10707 &  37475 &   NaN \\
\$d\_\{9\}\$  &  71283 &   1281 &   3039 &   NaN \\
\$d\_\{10\}\$ &  13033 &  29233 &  33337 &   NaN \\
\bottomrule
\end{tabular}

In [5]:
#plt.title("Verkauf der optimalen Politik")
#plt.ylabel("p[j](t)")
#plt.xlabel("t")
plt.figure()
df_Series.plot();

NameError: name 'df_Series' is not defined